
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-sm-12 col-md-3 footer-brand animated fadeInLeft">
            	<%= image_tag "logo.png", style:"height: 65px; margin-bottom: 20px;" %>
                <p>Si vos es eos peculiari cura mos animadverto vestri default est non Ordinarius illud. Et revera interfuerint sicco huius temporis ad scribendum, sed ego animadverto quis non puto..</p>
            </div>
        	<div class="col-sm-4 col-md-4 footer-nav animated fadeInUp">
            	<h4 class="text-white">&nbsp;&nbsp;&nbsp;Menu</h4>
            	<div class="col-sm-6 col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
            	<div class="col-sm-6 col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-sm-6 col-md-2 footer-social animated fadeInDown">
            	<h4 class="text-white">Follow Us</h4>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-sm-12 col-md-3 footer-ns animated fadeInRight">
            	<h4 class="text-white">Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
        <section style="text-align:center; margin:10px auto;"><p>Built by <a href="http://sean-obrien.dev">Sean O'Brien</a></p></section>
    </footer>
    </div>