<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <%= render 'room_menu' %>
        </div>
        <div class="col-md-9" style="margin-top: 50px;">
            <div class="panel panel-default">
                <div class="panel-heading secondary-header text-center">
                    <h4>Location</h4>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <%= form_for @room do |f| %>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Address</label>
                                    <%= f.text_field :address, placeholder: "Listing Address", class: "form-control", required: true, id:"autoaddress" %>
                                </div>
                            </div>

                            <div class="text-center">
                                <%= f.submit "Save", class: "btn btn-form" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#autoaddress").geocomplete();
    })
</script>