/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap

  *= require_tree 

  *= require_self
 
 */

// color scheme:
// pale gold: #D79922
// eggshell: #EFE2BA
// bright red: #F13C20
// deep blue: #4056A1
// light blue: #C5CBE3
// off-white : #F0F1EB

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:wght@300&display=swap");

body {
  margin: 0 auto;
  background-color: #f0f1eb;
  color: #4056a1;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  width: 80% !important;
}

//Nav styles
.navbar-default {
  background-color: #4056a1;
  border: 10px solid #4056a1 !important;
}

.navbar-form {
  width: auto;
}

.navbar-default,
.navbar-brand {
  font-size: 6 em !important;
  font-weight: 300;
  color: #f0f1eb !important;
}

//Form Styles
.form-rounded {
  width: 12vw !important;
  font-size: 1.25rem;
  text-align: left;
  border: 1px solid #dddddd !important;
  border-top-color: rgb(221, 221, 221) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: rgb(221, 221, 221) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: rgb(221, 221, 221) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: rgb(221, 221, 221) !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  border-radius: 24px !important;
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  border-bottom-left-radius: 24px !important;
}

//glyphs inside of search fields
.nav-search {
  color: black;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .nav-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .nav-search {
  right: 0px;
}

/* add padding  */
.right-addon input {
  padding-right: 30px;
}

//User Profile styles
.panel-default,
.panel-heading {
  font-size: 2rem;
  font-weight: 400;
}

//Avatar sizes
.avatar-small {
  width: 28px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%;
}

//Room Show page
.amenities li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}

//reservation table
.reservation-table td {
  width: 100%;
  border: none;
  border-bottom: 1px;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

form-control.datepicker {
  border: 1px;
  text-align: center;
}

// Search

#main {
  height: 100%;
  overflow: hidden;
}

#left {
  height: 100%;
  padding: 10px 400px 10px 20px;
  overflow: scroll;
}

#right {
  position: fixed;
  height: 100%;
  width: 450px;
  top: 0;
  right: 0;
}

//Home Page
.jumbotron {
  padding-top: 70px !important;
}

.jumbotron-bg {
  background-image: url("https://vistapointe.net/images/santorini-8.jpg");

  /* Full height */
  height: 70vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
