/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap

  *= require_tree 

  *= require_self

  *= require flatpickr
 
 */

// color scheme:
// pale gold: #D79922
// eggshell: #EFE2BA
// bright red: #F13C20
// deep blue: #4056A1
// light blue: #C5CBE3
// off-white : #F0F1EB

body {
  margin: 0 auto;
  background-color: #f0f1eb;
  color: #4056a1;
  font-family: "Helvetica Neue";
}

.container {
  width: 80% !important;
}

//Nav styles
.navbar-default {
  background-color: #4056a1;
  border: 20px solid #4056a1;
}

.navbar-default,
.navbar-brand {
  font-size: 6 em !important;
  font-weight: 300;
  color: #f0f1eb !important;
}

//Form Styles
.form-group {
  margin-bottom: 25px;
}

.form-control {
  height: 4rem;
  border-radius: 3px;
}

.form-group input {
  height: 45px;
  border: 1px;
}

.form-group textarea {
  border: 1px;
}

.form-group select {
  width: 100%;
  background-color: white;
  border: 1px;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  position: absolute;
  top: 35px;
  right: 30px;
  transform: scale(0.95, 0.62);
  content: "\25bc";
  font-size: 1.2em;
}

.form-group input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px;
  border-radius: 3px;
}

.form-group input[type="checkbox"]:checked:before {
  position: absolute;
  width: 1.25em;
  font-size: 0.95em;
  text-align: center;
  content: "\2713";
}
//Sidebar Styles
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
}

//User Profile styles
.panel-default,
.panel-heading {
  font-size: 2rem;
  font-weight: 400;
}

//Avatar sizes
.avatar-small {
  width: 28px;
}
.avatar-medium {
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%;
}

//Room Show page
.amenities li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
}

//reservation table
.reservation-table td {
  width: 100%;
  border: none;
  border-bottom: 1px;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

form-control.datepicker {
  border: 1px;
  text-align: center;
}
